*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    font-family: sans-serif, Arial, Helvetica;
}
.app{
    position: relative;
    width: 100%;
    display: flex;
}

.block{
    display: flex;
    width: 80%;
    margin:auto;
}
.player{
    width: 70%;
}
.player__name, .list{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 12px 0;
}
.player__control{
    background-color: black;
    color: #fff;
    height: 150px;
    width: 100%;
    padding: 10px;
}
.player__control--avatar{
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 50%;
    
    
}

.player__control--range{
    width: 100%;
}
.songs{
    padding: 0 12px;
    width: 30%;
}
.list-songs{
    width: 100%;
}
.song__item{
    display: flex;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #999;
    cursor: pointer;
}


.song__item--avatar{
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin: auto 8px;
}
.song__infomation{
    width: 70%;
    height: 40px;
    margin: auto;
}
.song__infomasion--name, .song__infomation--singer{
    height: 50%;
    font-size: 1rem;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.song__infomation--singer{
    font-size: 1rem;
    opacity: 0.9;
    font-weight: 500;
}